<launch>

  <group ns="err">
    <node pkg="math_pkg" name="listener" type="Errors.py"/>
  </group>

  <group ns="testpub">
    <node pkg="math_pkg" name="talker" type="test_publisher.py"/>
  </group>

  <group ns="fkine">
    <node pkg="math_pkg" name="subs" type="Forward_Kine.py"/>
  </group>

  <group ns="safety">
    <node pkg="math_pkg" name="safety_server" type="safety"/>
  </group>

  <group ns="ik">
    <node pkg="math_pkg" name="ik_server" type="ik"/>
  </group>

  <group ns="cost">
    <node pkg="math_pkg" name="cost_server" type="cost"/>
  </group>

  <group ns="weighter">
    <node pkg="math_pkg" name="weighter" type="weighter"/>
  </group>

</launch>