<launch>

    <node pkg="math_pkg" name="safety_server" type="safety"/>
    <node pkg="math_pkg" name="cost_server" type="cost"/>
    <node pkg="math_pkg" name="weighter" type="weighter"/>
    <node pkg="math_pkg" name="ik_server" type="ik"/>
    <node pkg="math_pkg" name="listener" type="Errors.py"/>
    <node pkg="math_pkg" name="subs" type="Forward_Kine_const.py"/>
    <node pkg="math_pkg" name="integrator_node" type="integrator.py"/>
	<node pkg="math_pkg" name="talker" type="test_publisher_const.py"/>


</launch>