<launch>

    <node pkg="math_pkg" name="safety_server" type="safety"/>
    <node pkg="math_pkg" name="weighter" type="weighter"/>
    <node pkg="math_pkg" name="cost_server" type="cost"/>
    <node pkg="math_pkg" name="ik_server" type="ik"/>
    <node pkg="math_pkg" name="listener" type="Errors.py"/>
    <node pkg="math_pkg" name="subs" type="Forward_Kine2.py"/>s
    <node pkg="math_pkg" name="calibrate" type="calibration2.py"/>s
	<node pkg="math_pkg" name="talker" type="test_publisher.py"/>
	<node pkg="math_pkg" name="IK_Jtransp_server" type="J_Transp_server.py"/>
	<node pkg="math_pkg" name="vrep_node" type="pbs_vrep.py"/>

</launch>
